body a {
  text-decoration: none;
}
body {
  background-color: #eff0f4;
}
header {
  padding: 10px;
  line-height: 70px;
  overflow: hidden;
  text-align: center;
  height: 70px;
  background-color: #5ac0ce;
}
header a {
  font-weight: bold;
  color: #ffffff;
}
.register {
  font-size: 18px;
  float: left;
}
.center {
  font-size: 22px;
  margin: 0 auto;
}
.close {
  font-size: 18px;
  float: right;
}
.phonenb,
.passwordone {
  line-height: 100px;
  margin-top: 15px;
  background-color: white;
  height: 100px;
}
.icon-phone,
.icon-lock {
  float: left;
  border-right: solid 1px #ccc ;
  display: inline-block;
  margin-top: 25px;
  width: 100px;
  height: 50px;
}
.icon-phone {
  background: url(../img/登陆_03.png) center no-repeat;
}
.icon-lock {
  background: url(../img/登陆_06.png) center no-repeat;
}
input {
  font-size: 25px;
  margin-left: 30px;
  border: none;
  outline: medium;
}
.login {
  line-height: 70px;
  text-align: center;
  background-color: #5ac0ce;
  height: 70px;
}
.login a {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}
.forget {
  margin: 20px 20px 0 0;
  float: right;
}
.forget a {
  color: #5ac0ce;
  font-size: 22px;
  font-weight: bold;
}
